apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  labels:
    kubeaid.io/version: 21.0.0
    kubeaid.io/managed-by: kubeaid
    kubeaid.io/sync-order: "10"
  name: capi-cluster
  namespace: argocd
spec:
  destination:
    namespace: capi-cluster
    server: https://kubernetes.default.svc
  sources:
    - repoURL: https://github.com/Archisman-Mridha/kubeaid.git
      path: argocd-helm-charts/capi-cluster
      targetRevision: 21.0.0
      helm:
        valueFiles:
          - $values/k8s/hcloud-cluster-upgrade-test/argocd-apps/values-capi-cluster.yaml
    - repoURL: https://github.com/Archisman-Mridha/kubeaid-config.git
      targetRevision: HEAD
      ref: values
  project: kubeaid
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
      - ApplyOutOfSyncOnly=true
  ignoreDifferences:
    - group: cluster.x-k8s.io
      kind: MachineDeployment
      jsonPointers:
        - /spec/replicas
