---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  creationTimestamp: null
  name: cloudflare-api-token-secret
  namespace: cert-manager
spec:
  encryptedData:
    api-token: AgBe6aZinrKmdZciFHuiJPO3eXAOXS1eruzW/u/PaYhJcQPyRaTTvJvQuA4veAvrEPD6kDGJlhjFGSsL5bbMUEbBwMmfvnpu9buonhDzXHGgr9ztHxHtB8dZk2mPaY7bNFJyrJYClET0SxuHEObQKSCCjNOrHNQ6gOm8epR84pv2UfMMJVHnhb0EH+7JPq7jFjBNTjqUjmzEnnNXYWK/PVBkSkMQQkAPOjUW+BH2YPwr1uNOsPXChTQ91eWVo9aPSoadm8uHOsPQ7jSQSgB3WDCYJNirMB1QZ5xc84u4w3IS7HVbljmleE7cClS/gT8nbLAJVRNfVUJx0t9DjS3/23PnOgY1L3pOvPkCe5aWRRajtoPdxP5qjdzzRKwZ99IiunWmZPFh0YGvJ7Z60F7GGm4FwIv70sBAlIU1GAtDTitSeN5CydSPiYLH+6wuEr5UWpWT/GN38buejGXhTTc9JMWDJu+zlp6bXvc5F3P57+pSAldHTp3UwSveBJw7C4r0gslqYbV0+B0U5cybEp0UPegJGqEmMoJSKrGZQqNdvLFd83nDJ3sWR+GljIUoBjHp1BfwUPt5nVFAoQW95Aaws5fdpwDAy9yAnQo0+Q2vKuToZfp+sAhXX4hbm1a/QI61o2Yk+36IWKNj8wa/sxSMnxdsXDivZnmmXcss9vQJNp9j6UQF1UV0lNntiuEunv8gGzBTKqwyLXeHkqt154+Y/6GatVHUI8Wr1m0Bl1fWY/01Oo6hyw4K080T
  template:
    metadata:
      creationTimestamp: null
      name: cloudflare-api-token-secret
      namespace: cert-manager
    type: Opaque
