external-dns:
  provider:
    name: cloudflare
  env:
    - name: CF_API_TOKEN
      valueFrom:
        secretKeyRef:
          name: cloudflare-credentials
          key: api-token
  extraArgs:
    - --cloudflare-dns-records-per-page=5000
  txtOwnerId: vpn
  domainFilters:
    - obmondo.com
  resources:
    limits:
      memory: 256Mi
    requests:
      cpu: 2m
      memory: 64Mi
